

/*begin of header####################################*/
#header
{
	margin: 0 auto;
	padding:0;
	width: 1300px;
    height: 620px;
	background-image: url('../images/header_bg.jpg');
	background-repeat:no-repeat;
    background-position:center;
}

/*begin of top10*/
#header #top10
{
	margin: 0;
	padding:0;
	width: 879px;
	height: 249px;
	position: relative;
    left: 53px;
    top: 310px;
    float: left;
    font-weight: bold;
}


#header #top10 #top10_left
{
	margin: 0;
	padding:20px 0 20px 20px;
	width: 340px;
	position: relative;
    left: 110px;
    top: 0;
    float: left;
    /*background: red;*/
}

#header #top10 #top10_right
{
	margin: 0;
	padding:20px 0 20px 20px;
    width: 340px;
    position: relative;
    left: 163px;
    top: 0;
    float: left;
    /*background: red;*/
}

#header #top10 .item
{
	margin: 0 0 5px;
    padding: 0;
    width: 340px;
    height: 40px;
    /*background: green;*/
    float: left;
}

#header #top10 .item .item_no
{
	margin: 0;
    padding: 0;
    width: 170px;
    height: 20px;
    /*background: yellow;*/
    float: left;
}

#header #top10 .item .item_ticket
{
	margin: 0;
    padding: 0;
    width: 170px;
    height: 20px;
    float: left;
}

#header #top10 .item .item_name
{
	margin: 0;
    padding: 0;
    width: 340px;
    height: 20px;
    /*background: blue;*/
    float: left;
}
/*end of top10*/

/*begin of login*/
#login
{
	margin: 0;
	padding: 0;
	width: 300px;
	height: 222px;
	position: relative;
    left: 90px;
    top: 347px;
    float: left;
	/*background: green;*/
}

#login #login_form
{
	margin: 0;
	padding: 5px 0;
	width: 300px;
	height: 140px;
	/*background: yellow;*/
}


#login #login_form #student_no
{
	margin: 0;
	padding: 10px 0px;
	width: 300px;
	height: 50px;
	/*background: red;*/
}

#login #login_form #identity
{
	margin: 0;
	padding: 10px 0;
	width: 300px;
	height: 50px;
	/*background: blue;*/
}

#login #button_box
{
	margin: 0;
	padding: 5px 0;
	width: 300px;
	height: 62px;
	/*background: white;*/
	text-align: center;
}

#login #button_box button
{
	letter-spacing: 10px;
    padding: 10px 30px 10px 43px;
}

/*end of login*/

/*end of header#######################################*/



/*begin of content####################################*/
#content
{
	margin: 0 auto;
	padding:0;
	width: 1300px;
}

.content_row
{
	margin: 0 auto;
	padding:0;
	width: 1300px;
}

.project_box 
{
	background-image: url('../images/vote_box.png');
	height: 340px;
	width:240px;
}

.project_logo
{
	/*height: 300px;
	width:240px;*/
	margin: 14px 14px; 

}
.project_logo img
{
	height: 210px;
	width:210px;
}

.project_info
{
	/*background-color: green;*/
    font-size: 15px;
    height: 40px;
    margin: 0 15px;
    width: 210px;
}

.vote_box
{
	/*background-color: green;*/
    height: 40px;
    margin: 6px 0 0 13px;
    width: 190px;
}



.vote_box .vote_button
{
	float: left;
	text-align: left;
	width: 90px;
	margin: 5px 0 0;
}

.vote_box .vote_button button
{
	font-size: 18px;
    font-weight: bold;
    letter-spacing: 10px;
    padding: 6px 8px 6px 20px;
}

.vote_box .vote_ticket
{
	float: left;
	text-align: right;
	width: 100px;
	font-size: 30px;
}
/*end of content######################################*/



/*begin of footer#####################################*/
#footer
{
	margin: 0 auto;
	padding:0;
	width: 1300px;
    height: 225px;
	background-image: url('../images/footer_bg.jpg');
	background-repeat:no-repeat;
    background-position:center;
    
}

#footer .info
{
	text-align: center;
	padding: 100px 0 0 0;
}
/*end of footer#######################################*/