.grid_1 { width:74px; }
.grid_2 { width:170px; }
.grid_3 { width:265px; }
.grid_4 { width:360px; }
.grid_5 { width:455px; }
.grid_6 { width:550px; }
.grid_7 { width:645px; }
.grid_8 { width:740px; }
.grid_9 { width:835px; }
.grid_10 { width:930px; }

.column {
  float: left;
  margin: 10px;
  overflow: hidden;
  display: inline;
}
.row {
  width: 950px;
  margin: -33px 0 0 50px;
  overflow: hidden;
  float: left;
}

body
{
  margin: 0;
  padding:0;
  background-image: url('../../images/content_bg.png');
  background-repeat: repeat-x repeat-y ;
  font-family: 'Microsoft Yahei', Tahoma, Arial, Helvetica, Simsun, STHeiti;

}

#container
{
  margin: 0 auto;
  padding:0;
  width: 1366px;
  height: 768px;
  background-image: url('../../images/chart_bg.jpg');
  background-repeat: no-repeat;
}

#left
{
  margin: 
  padding:0;
  width: 300px;
  height: 768px;
  float: left;
}

#right
{
  padding:0;
  width: 1000px;
  height: 768px;
  float: left;
}

#myChart
{
  float: left;
  margin-top: 80px;
}

